// This file may be used for providing additional customizations to the Trestle
// admin. It will be automatically included within all admin pages.
//
// For organizational purposes, you may wish to define your customizations
// within individual partials and `import` them here, e.g.
//
//    @import "trestle/custom/my_custom_css";
//

.nested-fields {
  border-left: 10px solid #dbdbdb;
  margin-bottom: 10px;
  padding-right: 35px;

  position: relative;

  &:first-child {
    margin-top: 0;
  }
}

.remove_fields {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
}