<div class="nested-fields panel panel-default">
  <div class="panel-body">
    <%= link_to_remove_association icon("fa fa-close"), f, class: "btn btn-default btn-sm" %>
    <div class="row">
      <div class="col-xs-8 col-sm-10">
        <%= f.text_field :name, label: false, placeholder: "Name" %>
      </div>
    </div>
  </div>
</div>